.gradle
build
*.iws
doc/**
bin/**
library/bin/*
library/gen/*
library/.gradle
library/.settings
library/target
library/install_dependencies/maven-android-sdk-deployer
.idea/libraries
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/datasources.xml
library/.idea
samples/**/.idea
*.DS_Store
*.swp
*.swo
proguard-project.txt
samples/flickr/gen
samples/flickr/out
samples/flickr/bin
samples/flickr/target
integration/volley/target/**
**local.properties
*.keystore
.settings
/library/.classpath
/library/.project
docs/**/*
**/out/**
**/gen-external-apklibs/**
/.idea/.name
/.idea/androidDexCompiler.xml
/.idea/checkstyle-idea.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/groovyc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/markdown-navigator
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/glide.iml
